allow hal_fingerprint_default tee_device:chr_file { open read write ioctl };
allow hal_fingerprint_default secmem_device:chr_file { open read write ioctl };
allow hal_fingerprint_default vfs_device:chr_file { open read write ioctl };
allow hal_fingerprint_default biometrics_data_file:dir { rmdir read write remove_name create open add_name search };
allow hal_fingerprint_default biometrics_data_file:file { write create read rename open getattr unlink };
allow hal_fingerprint_default tee:unix_stream_socket { connectto };

# allow fingerprintd to communicate with various devices
binder_call(system_app, fingerprintd);

# kernel fp device
allow fingerprintd fingerprint_device:chr_file rw_file_perms;

# secure memory device
allow fingerprintd secmem_device:chr_file rw_file_perms;

# trust zone device
allow fingerprintd tee_device:chr_file rw_file_perms;
allow fingerprintd tee:unix_stream_socket connectto;

# /data/biometrics/*
allow fingerprintd fingerprintd_data_file:dir create_dir_perms;
allow fingerprintd fingerprintd_data_file:file create_file_perms;
